{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css"  media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/buttons.css" type="text/css"  media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.rating.css" type="text/css"  media="screen" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon" />

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.rating.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simpleautogrow.js"></script>

    <meta name="keywords" content="trueque, intercambio, banco del tiempo"/>
    <meta name="description" content="etruekko, tu red de intercambio"/>
    <title>{{ SITE_NAME }} / {% block title %} {% trans 'Index' %} {% endblock %}</title>

    {% block extrahead %}
    {% endblock %}

    <script>
    $(document).ready(function(){
          $('.autogrow').simpleautogrow();
          $('.reply_form').hide();
          $('.reply_link').show();

          $('.reply_link').click(function() {
            $(this).hide();
            $(this).next().show();
            return false;
          });
    });
    </script>

</head>

<body>
    {% if messages %}
        <ul id="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="wrapper">
        <div id="head">
            <div id="logo">
                <a href="{% url index %}"><img src="{{ MEDIA_URL }}imgs/logo.png" alt="etruekko"/></a>
                <br/>
                {% trans "your swap network" %}
            </div>
            <!-- endof logo -->

            <div id="userprofile">
                {% include "user.html" %}
            </div>

            <!-- search -->
            {% if USER.is_authenticated %}
            <div id="search">
                <form method="GET" action="/search">
                    <input id="id_global_search" type="text" class="text" placeholder="{% trans "Search..." %}" name="q"/>
                    <input class="search_button_white" type="submit" value="Search"/>
                </form>
                <a href="{% url search_advanced %}">{% trans "Advanced search" %}</a>
            </div>
            {% endif %}
            <!-- endof search -->

            <div class="clear"></div>

            {% block head %}
            {% endblock %}
        </div>
        <!-- endof head -->

        <div id="content">
            {% block precontent %}

            {% block menu %}
            {% include "menu.html" %}
            {% endblock %}

            <div class="effect1 bg_{{ klass }}">
                {% block content %}
                    <div id="subcontent">
                        {% block subcontent %}
                        {% endblock %}
                    </div>
                    <!-- endof subcontent -->
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        <!-- endof content -->
    </div>
    <!-- endof wrapper -->

    <div id="foot">
        <div id="footwrapper">
            <div id="contact" class="fcontent">
                <h2>{% trans "Contact" %}</h2>
                <ul>
                    <li><a href="{% url contact %}">{% trans "Contact" %}</a></li>
                    <li><a href="mailto:info@etruekko.com">{% trans "info@etruekko.com" %}</a></li>
                </ul>
            </div>

            <div id="help" class="fcontent">
                <h2>{% trans "Help" %}</h2>
                <ul>
                    <li><a href="{% url faq %}">{% trans "FAQ" %}</a></li>
                </ul>
            </div>

            <div id="social" class="fcontent">
                <h2>{% trans "Social" %}</h2>
                <ul>
                    <li><a href="http://blog.etruekko.com">{% trans "blog" %}</a></li>
                    <li><a href="http://twitter.com/etruekko">{% trans "twitter" %}</a></li>
                    <li><a href="http://www.facebook.com/pages/etruekko/232173743516798">{% trans "facebook" %}</a></li>
                    <li><a href="http://www.youtube.com/watch?v=lnmV9xUA_Ko">{% trans "youtbue" %}</a></li>
                </ul>
            </div>

            <div id="privacy" class="fcontent">
                <h2>{% trans "Privacy" %}</h2>
                <ul>
                    <li><a href="{% url privacy %}">{% trans "Privacy" %}</a></li>
                    <li><a href="{% url terms %}">{% trans "Terms" %}</a></li>
                </ul>
            </div>

            <div id="privacy" class="fcontent flast">
                <h2>{% trans "Powered by" %}</h2>
                <a href="http://wadobo.com">
                    <img class="fimage" src="{{ MEDIA_URL }}imgs/wadobolabs.png" alt="Wadobo labs" title="wadobo labs"/>
                </a>
                <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite80x15_grey.gif" border="0" alt="A Django site." title="A Django site." /></a>
            </div>

        </div>

        {% block foot %}
        {% endblock %}
    </div>
</body>

</html>

