{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans %} Register {% endblocktrans %}
{% endblock %}

{% block menu %}
{% include "menu.html" with menu=HOME_MENU %}
{% endblock %}

{% block content %}
    <div id="subcontent" class="form">
    <p class="tip">
    {% blocktrans %}
    The login has failed, try again. If you don't have an account,
    please register.
    {% endblocktrans %}
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" class="button blue" value="{% trans "Sing in" %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </div>
{% endblock %}

