{% extends "base.html" %}
{% load i18n %}

{% block subcontent %}

<p>
{% blocktrans %}
To login in etruekko you should have an account. If you don't have
one, you can request the creation to a group. In etruekko users must
be part of a group and only will be created by group administrators.
{% endblocktrans %}
</p>

<p>
{% trans "You can view the list of groups in:" %}
<a href="{% url groups %}">Groups</a>
</p>

<form method="post" action="">
    {% csrf_token %}

    <table style="width: 50%">
    {{ form.as_table }}
    </table>

    <input type="submit" class="button blue" value="{% trans "Sing in" %}" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
