{% load i18n %}
<div class="rating">
    <input class="hover-star" type="radio" name="rating" value="1" disabled="disabled" {% if value == 1 %} checked="checked" {% endif %}/>
    <input class="hover-star" type="radio" name="rating" value="2" disabled="disabled" {% if value == 2 %} checked="checked" {% endif %}/>
    <input class="hover-star" type="radio" name="rating" value="3" disabled="disabled" {% if value == 3 %} checked="checked" {% endif %}/>
    <input class="hover-star" type="radio" name="rating" value="4" disabled="disabled" {% if value == 4 %} checked="checked" {% endif %}/>
    <input class="hover-star" type="radio" name="rating" value="5" disabled="disabled" {% if value == 5 %} checked="checked" {% endif %}/>
    <br/>
    <span class="votes">{% trans "votes:" %} {{ votes }}</span>

    <script>
        $('.hover-star').rating({
            callback: function(value, link){
                this.form.submit();
            }
        });
    </script>
</div>
