{% load i18n %}

{% if USER.is_authenticated %}
    <a href="{% url view_profile USER.username %}">
    <img src="{% avatar user 24 %}" alt="{{ user.username }}"/>
    {{ USER.username }}
    ({{ USER.get_profile.credits }} {{ CREDIT_NAME.short }})
    </a>
    <br/>
    <div id="profile_tools">
        <a href="{% url edit_profile %}">{% trans "settings" %}</a> |
        <a href="{% url logout %}">{% trans "logout" %}</a>
    </div>
{% else %}
    <form action="{% url login %}" method="POST">
    {% csrf_token %}
        <input id="id_username" type="text" name="username" placeholder="{% trans "Username" %}"/>
        <input id="id_password" type="password" name="password" placeholder="{% trans "Password" %}"/>

        <input type="submit" class="button blue" value="{% trans "Sign in" %}"/>
    </form>
    <a class="small" href="{% url password_reset %}">{% trans "Forgot it" %}</a>
    <a class="button green small" href="{% url register_wizard %}">{% trans "Register" %}</a>
{% endif %}
