* {
    margin: 0px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #23B0DF;
}

#messages {
    padding: 10px;
    background: #000000;
    opacity: 0.75;
    color: white;
    list-style: none;
    width: 100%;
}

#messages li {
    width: 1000px;
    margin: 0 auto 0 auto;
}

a:hover {
    text-decoration: underline;
}

#logo {
    text-align: right;
    float: left;
    width: 220px;
    margin: 10px;
}

#userprofile {
    float: right;
    margin: 10px;
}

.small {
    font-size: small;
    text-decoration: none;
    color: #777;
}

.small:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

.left {
    float: left;
    margin-right: 5px;
}

/* background color classes */

.bg {
    -webkit-box-shadow: 0 3px 2px #777;
    -moz-box-shadow: 0 3px 2px #777;
    box-shadow: 0 3px 2px #777;

    padding: 10px;
}

.bg_   { background-color: #23B0DF }
.bg_home   { background-color: #23B0DF }
.bg_people { background-color: #A85F96 }
.bg_serv   { background-color: #BC4484 }
.bg_item   { background-color: #E36D9D }
.bg_add    { background-color: #DC4D54 }
.bg_transf { background-color: #E6E06F }
.bg_msg    { background-color: #94B665 }
.bg_group  { background-color: #23B0DF }

#wrapper {
    width: 1000px;
    margin: 0 auto 0 auto;
}

.holding {
    display: inline;
    position: relative;
}

.holder {
    position: absolute;
    font-size: small;
    color: #aaa;
    top: 0;
    left: 0;
    margin-left: 5px;
}

/* SUBCONTENT */

#subcontent {
    margin: 20px;
    padding: 20px;
    min-height: 100px;

    background-image: linear-gradient(bottom, rgb(228,233,240) 0%, rgb(255,255,255) 52%);
    background-image: -o-linear-gradient(bottom, rgb(228,233,240) 0%, rgb(255,255,255) 52%);
    background-image: -moz-linear-gradient(bottom, rgb(228,233,240) 0%, rgb(255,255,255) 52%);
    background-image: -webkit-linear-gradient(bottom, rgb(228,233,240) 0%, rgb(255,255,255) 52%);
    background-image: -ms-linear-gradient(bottom, rgb(228,233,240) 0%, rgb(255,255,255) 52%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(228,233,240)),
        color-stop(0.52, rgb(255,255,255))
    );
}

/* ENDOF SUBCONTENT */


/* FOOTER */

#foot {
    min-height: 150px;
    margin-top: 50px;

    background-image: linear-gradient(bottom, rgb(228,233,240) 0%, rgb(255,255,255) 52%);
    background-image: -o-linear-gradient(bottom, rgb(228,233,240) 0%, rgb(255,255,255) 52%);
    background-image: -moz-linear-gradient(bottom, rgb(228,233,240) 0%, rgb(255,255,255) 52%);
    background-image: -webkit-linear-gradient(bottom, rgb(228,233,240) 0%, rgb(255,255,255) 52%);
    background-image: -ms-linear-gradient(bottom, rgb(228,233,240) 0%, rgb(255,255,255) 52%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(228,233,240)),
        color-stop(0.52, rgb(255,255,255))
    );
}

.fcontent {
    width: 140px;
    float: left;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.flast {
    border: none;
}

.fcontent h2 {
    color: #777;
    font-size: large;
}

.fcontent ul {
    list-style: none;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

.fcontent a {
    color: #999;
    text-decoration: none;
}

.fcontent a:hover {
    color: #777;
    text-decoration: underline;
}

#footwrapper {
    margin: 0 auto 0 auto;
    width: 550px;
}

/* ENDOF FOOTER */

/* MENU */
.menu {
    float: left;
    width: 100px;
    text-align: center;
    margin: 5px;
    margin-bottom: 0px;
}

.menu_icon {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 80px;
}

.selected .menu_icon {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu_icon img {
    position: relative;
    top: 20%;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: normal;
}

.selected a {
    color: white;
    font-weight: bold;
}

/* ENDOF MENU */

/* HEADINGS */

#content h1, #content h2, #content h3, #content h4 {
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 20px;
}

#subcontent h1, #subcontent h2, #subcontent h3, #subcontent h4 {
    color: #888;
    text-decoration: underline;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 20px;
}

/* ENDOF HEADINGS */

/* SEARCH */

.search_button {
    width: 50px;
    height: 35px;
    background: transparent url("../imgs/search.png") no-repeat;
    border: 0px;
    color: transparent;
}

.search_button:hover {
    cursor: pointer;
}

.search_div {
    margin: 20px;
}

#id_search {
    border: 1px solid black;
    padding: 4px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* ENDOF SEARCH */

/* PEOPLE */

.user {
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

.user img {
    float: left;
    margin-right: 10px;
}

.user .username {
    font-weight: bold;
}

.user .fullname {
    font-weight: bold;
    color: #aaa;
}

.user .location {
    display: block;
    float: right;
    font-size: x-small;
}

.user .date {
    font-size: x-small;
    color: #aaa;
}

.user .credits {
    font-size: small;
    color: #aaa;
}

.me {
    background-color: #DEF3FF;
}

.me .fullname {
    color: #888;
}

/* ENDOF PEOPLE */

/* PAGINATION */

.pagination {
    text-align: center;
    color: white;
    margin: 20px;
    margin-top: 40px;
    font-size: small;
}

.pagination .current {
    vertical-align: middle;
}

.pagination img {
    vertical-align: middle;
}

/* ENDOF PAGINATION */

/* PROFILE */

#profile .username {
    font-size: x-large;
    font-weight: bold;
}

#profile .fullname {
    font-weight: bold;
    color: #888;
}

#profile .location {
    display: block;
    float: right;
}

#profile .description {
    color: #282828;
    font-size: 1em;
    line-height: 1.25em;
    margin: 1.25em 0;
    text-align: left;
}

#profile .date {
    font-size: small;
    color: #888888;
}

#profileimg {
    position: relative;
    float: left;

    background-color: #FBFFFB;
    -moz-box-shadow: 3px 3px 4px #CCCCCC;
    -webkit-box-shadow: 3px 3px 4px #CCCCCC;
    box-shadow: 3px 3px 4px #CCCCCC;
    padding: 10px 10px 30px 10px;
    margin-right: 20px;

    -moz-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);

    margin-bottom: 20px;
}

#thumbtack {
    width: 50px;
    height: 38px;
    float: left;
    background: url("../imgs/thumb-tack.png") no-repeat;
    position: absolute;
    top: -14px;
    left: 48px;
}

#profile span {
    display: block;
}

#profile_tools {
    display: inline;
}

#userprofile {
    font-size: small;
}

#userprofile img {
    vertical-align: middle;
}

/* ENDOF PROFILE */

/* GROUP */

.user {
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

.group img {
    float: left;
    margin-right: 10px;
}

.group .name {
    font-weight: bold;
}

.group .location {
    display: block;
    float: right;
    font-size: x-small;
}

.group .web {
    font-size: x-small;
}

/* ENDOF GROUP */

/* TRANSF */

.transfer {
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

.tranfer img {
    float: left;
    margin-right: 10px;
}

.transfer .username {
    font-weight: bold;
}

.transfer .fullname {
    font-weight: bold;
    color: #aaa;
}

.transfer .date {
    font-size: x-small;
    color: #aaa;
}

.transfer .credits {
    font-weight: bold;
}

/* ENDOF TRANSF */
