{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans with group.name as name %} Edit "{{ name }}" members {% endblocktrans %}
{% endblock %}

{% block content %}
    <h2>
        <div class="left"><img src="{% groupavatar group 32 %}" alt="{{ group.name }}"/></div>
        {% blocktrans with group.name as name %}
        {{ name }}'s members
        {% endblocktrans %}
        <div class="clear"></div>
    </h2>
    <div id="subcontent" class="form">
        <div class="buttons">
            <span class="button"><a class="button" href="{% url register_group_admin group.name %}">{% trans "Add new member" %}</a></span>
        </div>

    <form action="" method="post">
        {% csrf_token %}

        {% if requests %}
        <h3>{% trans "Pending join requests" %}</h3>
        {% endif %}
        {% for membership in requests %}

                {% with user=membership.user tools="ALL" show_credits=True %}
                    {% include "truekko/single_user_view.html" %}
                {% endwith %}

        {% endfor %}

        <h3>{% trans "Members" %}</h3>
        {% for membership in memberships %}

                {% with user=membership.user tools="REQ" show_credits=True %}
                    {% include "truekko/single_user_view.html" %}
                {% endwith %}

        {% endfor %}

        {% if banned %}
        <h3>{% trans "Banned users" %}</h3>
        {% endif %}
        {% for membership in banned %}

                {% with user=membership.user tools="REQ" show_credits=True %}
                    {% include "truekko/single_user_view.html" %}
                {% endwith %}

        {% endfor %}

        <input class="submit" type="submit" value="{% trans 'Save' %}"/>
    </form>
    </div>
{% endblock %}
