{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans with group.name as name %} Edit "{{ name }}" members {% endblocktrans %}
{% endblock %}

{% block content %}
    <h2>
        <div class="left"><img src="{% groupavatar group 32 %}" alt="{{ group.name }}"/></div>
        {% blocktrans with group.name as name %}
        {{ name }}'s members
        {% endblocktrans %}
        <div class="clear"></div>
    </h2>
    <div id="subcontent" class="form">
        <div class="buttons">
            <a class="button" href="{% url register_group_admin group.name %}">{% trans "Add new member" %}</a>
        </div>

    <form action="" method="post">
        {% csrf_token %}

        {% if requests %}
        <h3>{% trans "Pending join requests" %}</h3>
        {% endif %}
        {% for membership in requests %}

                {% with user=membership.user %}
                <!-- TODO use a template for this -->
                <div class="user">
                    <a href="{% url view_profile user.username %}"><img src="{% avatar user 64 %}" alt="{{ user.username }}"/></a>
                    <a href="{% url view_profile user.username %}"><span class="username">{{ user.username }}</span></a>
                    <span class="fullname">{{ user.get_profile.name }}</span>
                    <span class="location"><a href="{% url people %}?search={{ user.get_profile.location }}">{{ user.get_profile.location }}</a></span>
                    <p class="description">{{ user.get_profile.description|truncatewords:20 }}</p>
                    <span class="date">
                        {% blocktrans with user.date_joined|timesince as d %}
                            user since {{ d }}
                        {% endblocktrans %}
                    </span>
                    <select name="role_{{ user.id }}">
                        <option value="admin" {% if membership.role == "ADM" %}selected="selected"{% endif %}>{% trans "Admin" %}</option>
                        <option value="member" {% if membership.role == "MEM" %}selected="selected"{% endif %}>{% trans "Member" %}</option>
                        <option value="req" {% if membership.role == "REQ" %}selected="selected"{% endif %}>{% trans "Requested" %}</option>
                        <option value="ban" {% if membership.role == "BAN" %}selected="selected"{% endif %}>{% trans "Banned" %}</option>
                        <option value="remove">{% trans "Remove" %}</option>
                    </select>
                    <div class="clear"></div>
                </div>
                <!-- -->
                {% endwith %}

        {% endfor %}

        <h3>{% trans "Members" %}</h3>
        {% for membership in memberships %}

                {% with user=membership.user %}
                <!-- TODO use a template for this -->
                <div class="user">
                    <a href="{% url view_profile user.username %}"><img src="{% avatar user 64 %}" alt="{{ user.username }}"/></a>
                    <a href="{% url view_profile user.username %}"><span class="username">{{ user.username }}</span></a>
                    <span class="fullname">{{ user.get_profile.name }}</span>
                    <span class="location"><a href="{% url people %}?search={{ user.get_profile.location }}">{{ user.get_profile.location }}</a></span>
                    <p class="description">{{ user.get_profile.description|truncatewords:20 }}</p>
                    <span class="date">
                        {% blocktrans with user.date_joined|timesince as d %}
                            user since {{ d }}
                        {% endblocktrans %}
                    </span>
                    <select name="role_{{ user.id }}">
                        <option value="admin" {% if membership.role == "ADM" %}selected="selected"{% endif %}>{% trans "Admin" %}</option>
                        <option value="member" {% if membership.role == "MEM" %}selected="selected"{% endif %}>{% trans "Member" %}</option>
                        <option value="ban" {% if membership.role == "BAN" %}selected="selected"{% endif %}>{% trans "Banned" %}</option>
                        <option value="remove">{% trans "Remove" %}</option>
                    </select>
                    <div class="clear"></div>
                </div>
                <!-- -->
                {% endwith %}

        {% endfor %}

        {% if banned %}
        <h3>{% trans "Banned users" %}</h3>
        {% endif %}
        {% for membership in banned %}

                {% with user=membership.user %}
                <!-- TODO use a template for this -->
                <div class="user">
                    <a href="{% url view_profile user.username %}"><img src="{% avatar user 64 %}" alt="{{ user.username }}"/></a>
                    <a href="{% url view_profile user.username %}"><span class="username">{{ user.username }}</span></a>
                    <span class="fullname">{{ user.get_profile.name }}</span>
                    <span class="location"><a href="{% url people %}?search={{ user.get_profile.location }}">{{ user.get_profile.location }}</a></span>
                    <p class="description">{{ user.get_profile.description|truncatewords:20 }}</p>
                    <span class="date">
                        {% blocktrans with user.date_joined|timesince as d %}
                            user since {{ d }}
                        {% endblocktrans %}
                    </span>
                    <select name="role_{{ user.id }}">
                        <option value="admin" {% if membership.role == "ADM" %}selected="selected"{% endif %}>{% trans "Admin" %}</option>
                        <option value="member" {% if membership.role == "MEM" %}selected="selected"{% endif %}>{% trans "Member" %}</option>
                        <option value="ban" {% if membership.role == "BAN" %}selected="selected"{% endif %}>{% trans "Banned" %}</option>
                        <option value="remove">{% trans "Remove" %}</option>
                    </select>
                    <div class="clear"></div>
                </div>
                <!-- -->
                {% endwith %}

        {% endfor %}

        <input class="submit" type="submit" value="{% trans 'Save' %}"/>
    </form>
    </div>
{% endblock %}
