{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'People' %} {% endblock %}

{% block extrahead %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $("#id_search").keyup(function() {
                if ($(this).attr("value") == "")
                    $(".search.holder").show();
                else
                    $(".search.holder").hide();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/group.png" alt="group"/></div>
    <form action="" method="get">
        <div class="search_div holding">
            <input type="text" name="search" id="id_search"/>
            <span class="search holder">{% trans "Search..." %}</span>
            <input class="search_button" type="submit" value="{% trans 'Search' %}"/>
        </div>
    </form>

    <div class="clear"></div>

    <div id="subcontent">
        {% for group in groups.object_list %}
            <div class="group">
                <a href="{% url view_group group.name %}"><img src="{% groupavatar group 64 %}" alt="{{ group.name }}"/></a>
                <a href="{% url view_group group.name %}"><span class="name">{{ group.name }}</span></a>
                <span class="location"><a href="{% url groups %}?search={{ group.location }}">{{ group.location }}</a></span>
                <p class="description">{{ group.description|truncatewords:20 }}</p>
                {% if group.web %}
                    <a href="{{ group.web }}"><span class="web">{{ group.web }}</span></a>
                {% endif %}
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>


    {% with pagination=groups %}
        {% include "paginate.html" %}
    {% endwith %}
{% endblock %}
