{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Communities' %} {% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/group.png" alt="community"/></div>
    <form action="" method="get">
        <input id="id_search" type="text" class="text" placeholder="{% trans "Search..." %}" name="search"/>
        <input class="search_button" type="submit" value="{% trans "Search" %}"/>
    </form>

    <div class="clear"></div>

    <div id="subcontent">
        <div id="indexcontent2">
        {% for group in groups.object_list %}
            <div class="group">
                <a href="{% url view_group group.id %}"><img src="{% groupavatar group 64 %}" alt="{{ group.name }}"/></a>
                <a href="{% url view_group group.id %}">
                    <span class="name">{{ group.name }}</span>
                </a>
                <span class="channel">{{ group.channel }}</span>
                {% if USER.is_authenticated %}
                {% is_admin_group USER group %} {% if is_admin_group_v %}<img src="/media/imgs/admin.png" alt="admin"/>{% endif %}
                {% endif %}
                <span class="location"><a href="{% url groups %}?search={{ group.location }}">{{ group.location }}</a></span>
                <p class="description">{{ group.description|truncatewords:20 }}</p>
                {% if group.web %}
                    <a href="{{ group.web }}"><span class="web">{{ group.web }}</span></a>
                {% endif %}
                <div class="clear"></div>
            </div>
        {% endfor %}
        </div>

        <div id="indexmenu2">
            {% fixed_ads "RIGHTTOP" "160" %}
            <div class="filters">
                {% for k, v in filters.items %}
                    <a class="button{% if sfilter == k %} green{% endif %}" href="{% url groups k %}">{{ v.text }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="clear"></div>
    </div>


    {% with pagination=groups %}
        {% include "paginate.html" %}
    {% endwith %}
{% endblock %}
