{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% if klass == "serv" %}
        {% trans 'Services' %}
    {% else %}
        {% trans 'Items' %}
    {% endif %}
{% endblock %}

{% block extrahead %}
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script type="text/javascript" src="{{ MEDIA_URL }}elastic/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}elastic/js/jquery.elastislide.js"></script>
        <link rel="stylesheet" href="{{ MEDIA_URL }}elastic/css/elastislide.css" />
        <script>
            $(document).ready(function(){
                $('.carousel').elastislide({
                    imageW  : 40
                });
            });
        </script>
{% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/{{ klass }}.png" alt="transf"/></div>
    <form action="" method="get">
        <input id="id_search" type="text" class="text" placeholder="{% trans "Search..." %}" name="search"/>
        <input class="search_button" type="submit" value="{% trans "Search" %}"/>
        {% if klass == "serv" %}
            {% tooltip "services_search" %}
        {% else %}
            {% tooltip "items_search" %}
        {% endif %}
    </form>

    <div class="clear"></div>

    <div id="subcontent">
        <div id="indexcontent2">

        {% for item in items.object_list %}
            {% include "truekko/single_item_view.html" %}
        {% endfor %}

        </div>
        <div id="indexmenu2">
            {% fixed_ads "RIGHTTOP" "160" %}
        </div>
        <div class="clear"></div>
    </div>


    {% with pagination=items %}
        {% include "paginate.html" %}
    {% endwith %}
{% endblock %}
