{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% if editing %}
        {% trans 'Edit' %}
    {% else %}
        {% trans 'Add' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/add.png" alt="add"/></div>
    <div class="left"><img src="/media/imgs/menu/item.png" alt="item"/></div>
    <div class="left"><img src="/media/imgs/menu/serv.png" alt="serv"/></div>
    <div class="clear"></div>

    <div id="subcontent" class="form">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            {% if not editing %}
            <tr>
                <th>{% trans "Tags:" %}</th>
                <td><input type="text" name="tags"/>  {% trans "comma separated values" %}</td>
            </tr>
            {% endif %}
        </table>
        <input class="button red" type="submit" value="{% trans 'Save' %}"/>
    </form>
    </div>
{% endblock %}
