{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if item.type == "IT" %}
        {% blocktrans with item.name as name %} Remove Item / {{ name }} {% endblocktrans %}
    {% else %}
        {% blocktrans with item.name as name %} Remove Serv / {{ name }} {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
        {% if item.photo %}
            <div class="left"><img src="{% image item.photo 32 %}" alt="{{ item.name }}"/></div>
        {% endif %}
        {% if item.type == "IT" %}
            {% blocktrans with item.name as name %} Remove Item / {{ name }} {% endblocktrans %}
        {% else %}
            {% blocktrans with item.name as name %} Remove Serv / {{ name }} {% endblocktrans %}
        {% endif %}
        <div class="clear"></div>
    </h2>

    <div id="subcontent">
        {% with long="True" %}
        {% include "truekko/single_item_view.html" %}
        {% endwith %}

        <form method="post" action="">
            {% csrf_token %}
            <p>{% trans "You are going to delete this item" %}</p>
            <p>{% trans "Are you sure?" %}</p>
            <input class="button red" type="submit" value="{% trans "Yes, delete it" %}"/>
        </form>

    </div>
{% endblock %}
