{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% if editing %}
        {% trans 'Edit' %}
    {% else %}
        {% trans 'Add' %}
    {% endif %}
{% endblock %}

{% block extrahead %}
    <script>
    function check_quantity() {
        var type = $("#id_type option:selected").val();
        var offer = $("#id_offer_or_demand option:selected").val();

        if (type === "IT" && offer === "OFF") {
            $("#quantity_tr").show();
            $("#id_price").parent().parent().show();
            $("#id_price_type").parent().parent().show();
        } else {
            $("#quantity_tr").hide();
            $("#quantity").val("0");

            if (offer == "DEM") {
                $("#id_price").parent().parent().hide();
                $("#id_price_type").parent().parent().hide();
            } else {
                $("#id_price").parent().parent().show();
                $("#id_price_type").parent().parent().show();
            }
        }
    }

    $(document).ready(function(){
        check_quantity();

        $("#id_type").change(function() {
            check_quantity();
        });

        $("#id_offer_or_demand").change(function() {
            check_quantity();
        });

        $("#newimg").click(function() {
            var obj = $(".newimage").last().clone();
            var splitname = obj.attr("name").split("_");
            var newname = splitname[0] + "_" + (parseInt(splitname[1], 10) + 1);
            obj.attr("name", newname);
            obj.val("");
            $(".toadd").append(obj);
            return false;
        });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/add.png" alt="add"/></div>
    <div class="left"><img src="/media/imgs/menu/item.png" alt="item"/></div>
    <div class="left"><img src="/media/imgs/menu/serv.png" alt="serv"/></div>
    <div class="clear"></div>

    <div id="subcontent" class="form">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
            <tr id="quantity_tr">
                <th><label for="quantity">{% trans "Quantity:" %}</label></th>
                <td><input id="quantity" type="text" name="quantity" value="{{ form.quantity }}"/>  {% trans "Use 0 for unlimited" %}{% tooltip "item_quantity" %}</td>
            </tr>
            <tr>
                <th><label for="tags">{% trans "Tags:" %}<label></th>
                <td><input id="tags" type="text" name="tags" value="{{ item.tags_str }}"/>  {% trans "comma separated values" %}{% tooltip "item_tags" %}</td>
            </tr>
        </table>

        <h2>{% trans "Images" %}</h2>
        {% for im in item.images.all %}
        <div class="toremove">
            <label for="image_{{ im.id }}">
                <img src="{% image im.photo 64 %}" alt="{{ item.name }}"/>
                {% trans "remove" %}
            </label>
            <input id="image_{{ im.id }}" type="checkbox" name="rmimg_{{ im.id }}"/>
        </div>
        {% endfor %}
        <h2>{% trans "Add images" %}</h2>
        <div class="toadd">
            <input type="file" class="newimage" name="newimage_1"/>
        </div>
        <a href="#" id="newimg">{% trans "Add more images" %}</a>

        <input class="button red" type="submit" value="{% trans 'Save' %}"/>
    </form>
    </div>
{% endblock %}
