{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% if item.type == "IT" %}
        {% blocktrans with item.name as name %} Item / {{ name }} {% endblocktrans %}
    {% else %}
        {% blocktrans with item.name as name %} Serv / {{ name }} {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block extrahead %}
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

{% block content %}
    <h2>
        {% if item.photo %}
            <div class="left"><img src="{% image item.photo 32 %}" alt="{{ item.name }}"/></div>
        {% endif %}
        {% if item.type == "IT" %}
            {% blocktrans with item.name as name %} Item / {{ name }} {% endblocktrans %}
        {% else %}
            {% blocktrans with item.name as name %} Serv / {{ name }} {% endblocktrans %}
        {% endif %}
        <div class="clear"></div>
    </h2>

    <div id="subcontent">
        <div class="buttons">
            {% if item.user == USER %}
                <a class="button default" href="{% url item_edit item.id %}">{% trans "Edit" %}</a>
                <a class="button default" href="{% url item_remove item.id %}">{% trans "Delete" %}</a>
            {% endif %}
        </div>
        <div class="clear"></div>
        <div id="indexcontent2">

        {% with long="True" %}
            {% include "truekko/single_item_view.html" %}
        {% endwith %}

        </div>

        <div id="indexmenu2">
            {% fixed_ads "RIGHTTOP" "160" %}
        </div>
        <div class="clear"></div>

    </div>
{% endblock %}
