{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'People' %} {% endblock %}

{% block extrahead %}
    {% include "truekko/followjs.html" %}
{% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/people.png" alt="people"/></div>
    <form action="" method="get">
        <input id="id_search" type="text" class="text" placeholder="{% trans "Search..." %}" name="search"/>
        <input class="search_button" type="submit" value="{% trans "Search" %}"/>
        {% tooltip "people_search" %}
    </form>

    <div class="clear"></div>

    <div id="subcontent">
        <div id="indexcontent2">
        {% for user in users.object_list %}
            {% include "truekko/single_user_view.html" with follow="true" %}
        {% endfor %}
        </div>

        <div id="indexmenu2">
            {% fixed_ads "RIGHTTOP" "160" %}
            <div class="filters">
                {% for k, v in filters.items %}
                    <a class="button{% if sfilter == k %} violet{% endif %}" href="{% url people k %}">{{ v.text }}</a>
                {% endfor %}
            </div>

        </div>

        <div class="clear"></div>
    </div>


    {% with pagination=users %}
        {% include "paginate.html" %}
    {% endwith %}
{% endblock %}
