{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'People' %} {% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/people.png" alt="people"/></div>
    <form action="" method="get">
        <div class="search_div holding">
            <input type="text" name="search" id="id_search"/>
            <span class="search holder">{% trans "Search..." %}</span>
            <input class="search_button" type="submit" value="{% trans 'Search' %}"/>
        </div>
    </form>

    <div class="clear"></div>

    <div id="subcontent">
        {% for user in users.object_list %}
            {% include "truekko/single_user_view.html" %}
        {% endfor %}
    </div>


    {% with pagination=users %}
        {% include "paginate.html" %}
    {% endwith %}
{% endblock %}
