{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans %} Register {% endblocktrans %}
{% endblock %}

{% block content %}
    <h2>
        <div class="left"><img src="{% groupavatar group 32 %}" alt="{{ group.username }}"/></div>
        {% blocktrans with group.name as name %}
        {{ name }}'s registering
        {% endblocktrans %}
        <div class="clear"></div>
    </h2>
    <div id="subcontent" class="form">
    <form action="" method="post">
        {% csrf_token %}

        <fieldset>
        <legend>{% trans "Add an existing user" %}</legend>
        <p>
        {% trans "You can add an existing user to the group by username" %}
        </p>

        <label for="exisinguser">{% trans "User name" %}</label>
        <input name="existinguser" id="exisinguser" type="text"/>
        <input class="submit" type="submit" name="existing" value="{% trans 'Add user to group' %}"/>
        </fieldset>

        <fieldset>
        <legend>{% trans "Create a new user" %}</legend>
        <p>
        {% trans "Or you can create a new user in etruekko.com and add it to the group" %}
        </p>

        <table>
            {{ form.as_table }}
        </table>
        <input class="submit" type="submit" name="newuser" value="{% trans 'Register' %}"/>
        </fieldset>
    </form>
    </div>
{% endblock %}
