{% load i18n %}

<div class="transfer {{ swap.status }}">
    <div class="left">
        <a href="{% url view_profile swap.user_from.username %}"><img src="{% avatar swap.user_from 64 %}" alt="{{ swap.user_from.username }}"/></a>
        <a href="{% url view_profile swap.user_to.username %}"><img src="{% avatar swap.user_to 64 %}" alt="{{ swap.user_to.username }}"/></a>
    </div>

    <div class="status">
        {{ swap.get_status_msg }}
        <span class="mode">{{ swap.get_swap_mode_display }}</span>
    </div>
    <div class="usernames">
        <a href="{% url view_profile swap.user_from.username %}"><span class="username">{{ swap.user_from.username }}</span></a>
        →
        <a href="{% url view_profile swap.user_to.username %}"><span class="username">{{ swap.user_to.username }}</span></a>
    </div>

    <div class="items">
    <ul class="itemlist left">
    {% for item in swap.items_from_names %}
        <li>{{ item }}</li>
    {% endfor %}
        <li class="credits">{{ swap.credits_from }}{{ CREDIT_NAME.short }}</li>
    </ul>

    <ul class="itemlist left">
    {% for item in swap.items_to_names %}
        <li>{{ item }}</li>
    {% endfor %}
        <li class="credits">{{ swap.credits_to }}{{ CREDIT_NAME.short }}</li>
    </ul>
    </div>

    <div class="clear"></div>
    <div class="date">{{ swap.date }}</div>

    <a class="button orange" href="{% url swap_view swap.id %}">{% trans "View" %}</a>

    <div class="clear"></div>
</div>
