{% load i18n %}

<div class="item {% if item.demand %}demand{% else %}offer{% endif %}">
    <div class="left">
        <a href="{% url view_profile item.user.username %}"><img src="{% avatar item.user 64 %}" alt="{{ item.user.username }}"/></a>
    </div>
    {% if item.photo %}
    <div class="left">
        {% if long %}
            <img src="{% image item.photo 128 %}" alt="{{ item.name }}"/>
        {% else %}
            <img src="{% image item.photo 64 %}" alt="{{ item.name }}"/>
        {% endif %}
    </div>
    {% endif %}

    <span class="price">{{ item.price }} {{ item.get_price_type_display }}</span>

    <div class="username">
        <span class="username">
            <a href="{% url item_view item.id %}">{{ item.name }}</a>
            <span class="offerdemand">
                {% if item.demand %}
                    {% trans "Demand" %}
                {% else %}
                    {% trans "Offer" %}
                {% endif %}
            </span>
        </span>
        {% if not short %}
        (<a href="{% url view_profile item.user.username %}"><span class="username">{{ item.user.username }}</span></a>
        <span class="fullname">{{ item.user.get_profile.name }}</span>)
        {% endif %}
    </div>

    {% if not short %}
    <div class="tags">
        {% for tag in item.tags %}
            <span class="tag"><a href="{% url item_list item.type_str %}?search={{ tag.name }}">{{ tag.name }}</a></span>
        {% endfor %}
    </div>
    {% endif %}

    <p class="{% if long %}description{% else %}shortdescription{% endif %}">
    {% if long %}
        {{ item.description }}
    {% else %}
        {% if short %}
            {{ item.description|truncatewords:10 }}
        {% else %}
            {{ item.description|truncatewords:20 }}
        {% endif %}
    {% endif %}
    </p>

    {% if not short %}
    <div class="date">{{ item.pub_date }}</div>
    {% endif %}

    {% if not long %}
    {% endif %}

    <div class="clear"></div>

    <a href="{% url swap_creation item.user.username %}?item={{ item.id }}">{% trans "Make request" %}</a>
</div>
