{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans with u1=user_from.username u2=user_to.username %} swap items between {{ u1 }} and {{ u2 }} {% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/transf.png" alt="transf"/></div>
    <div class="left"><img src="{% avatar user_from 48 %}" alt="{{ user_from.username }}"/></div>
    <div class="left"><img src="{% avatar user_to 48 %}" alt="{{ user_to.username }}"/></div>
    <div class="clear"></div>

    <div id="subcontent">
        <h3>{{ swapstatus }}</h3>

        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    <a href="{% url view_profile comment.user.username %}"><img class="left" src="{% avatar comment.user 48 %}" alt="{{ comment.user.username }}"/></a>
                    <a href="{% url view_profile comment.user.username %}"><span class="username">{{ comment.user.username }}</span></a>
                    <p> {{ comment.comment }} </p>
                </div>
                <div class="clear"></div>
            {% endfor %}
        </div>

        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        <form method="POST" action="">
            {% csrf_token %}

            <fieldset class="swap1">
            <legend>{{ user_from.username }}</legend>
            {% for item in user_from.items.all %}
                <input name="item_{{item.id}}" type="checkbox" {% if item.id in items %}checked="checked"{% endif %}/>
                {% with short="True" %}
                {% include "truekko/single_item_view.html" %}
                {% endwith %}
            {% endfor %}
            </fieldset>

            <fieldset class="swap2">
            <legend>{{ user_to.username }}</legend>
            {% for item in user_to.items.all %}
                <input name="item_{{item.id}}" type="checkbox" {% if item.id in items %}checked="checked"{% endif %} />
                {% with short="True" %}
                {% include "truekko/single_item_view.html" %}
                {% endwith %}
            {% endfor %}
            </fieldset>

            <div class="clear"></div>

            <table>
            <tr>
            <th><label for="credits">{% trans "Credits:" %}</label></th>
            <td><input type="text" id="credits" name="credits" value="{{ credits }}"/></td>
            </tr>
            </table>

            <label for="comment">{% trans "Comment:" %}</label>
            <textarea id="comment" name="comment"></textarea>

            {% if accept %}
            <input type="submit" name="accept" value="{% trans "Accept" %}"/>
            {% endif %}
            {% if not swap or swap.status == "US1" or swap.status == "US2" %}
                <input type="submit" name="offer" value="{% trans "Make offer" %}"/>
                <input type="submit" name="cancel" value="{% trans "cancel" %}"/>
            {% else %}
                <input type="submit" name="comment" value="{% trans "Comment" %}"/>
            {% endif %}
        </form>
    </div>
{% endblock %}
