{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Transfer' %} {% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/transf.png" alt="transf"/></div>
    <form action="" method="get">
        <input id="id_search" type="text" class="text" placeholder="{% trans "Search..." %}" name="search"/>
        <input class="search_button" type="submit" value="{% trans "Search" %}"/>
    </form>

    <div class="clear"></div>

    <div id="subcontent">
        {% for swap in swaps.object_list %}
            {% include "truekko/single_swap_view.html" %}
        {% endfor %}
    </div>


    {% with pagination=swaps %}
        {% include "paginate.html" %}
    {% endwith %}
{% endblock %}
