{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans with u1=user_from.username u2=user_to.username %} swap items between {{ u1 }} and {{ u2 }} {% endblocktrans %}
{% endblock %}

{% block extrahead %}
    <style>
        .iselected {
            background: #33aa33 url("/media/imgs/ok.png") no-repeat scroll right bottom;
            color: white;
        }
        .iselected a { color: white; }
        .iselected p { color: white !important; }
        .item_div {
            cursor: pointer;
        }
    </style>
    <script>
    $(document).ready(function(){
          $('.item_input').hide();
          $('.item_input').each(function() {
            $(this).parent().removeClass("iselected");
          });

          $('.item_input:checked').each(function() {
            $(this).parent().addClass("iselected");
          });

          $('.item_div').click(function() {
            var inp = $(this).find(".item_input");
            if (inp.attr('checked') === 'checked') {
                inp.removeAttr('checked');
                $(this).removeClass("iselected");
            } else {
                inp.attr('checked', 'checked');
                $(this).addClass("iselected");
            }
            return false;
          });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/transf.png" alt="transf"/></div>
    <div class="left"><img src="{% avatar user_from 48 %}" alt="{{ user_from.username }}"/></div>
    <div class="left"><img src="{% avatar user_to 48 %}" alt="{{ user_to.username }}"/></div>
    <div class="clear"></div>

    <div id="subcontent">
        <h3>{{ swapstatus }}</h3>

        <ul class="errorlist">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>

        {% if swap and swap.finished %}
            <div class="status">
                {{ swap.get_status_msg }}
                <span class="mode">{{ swap.get_swap_mode_display }}</span>
            </div>
            <div class="items">
            <ul class="itemlist left">
            {% for item in swap.items_from_names %}
                <li>{{ item }}</li>
            {% endfor %}
            <li class="credits">{{ swap.credits_from }}{{ CREDIT_NAME.short }}</li>
            </ul>

            <ul class="itemlist left">
            {% for item in swap.items_to_names %}
                <li>{{ item }}</li>
            {% endfor %}
            <li class="credits">{{ swap.credits_to }}{{ CREDIT_NAME.short }}</li>
            </ul>
            </div>
            <div class="clear"></div>

            <!-- Commitments -->
            <h3>{% trans "Commitments" %}</h3>
            {% for cm in swap.commitments.all %}
                <div class="commitment">
                    <span class="status">{{ cm.get_status_display }}</span>
                    <div class="left">
                    {% with user=cm.user_from %} {% include "single_user.html" %} {% endwith %}
                    {% with user=cm.user_to %} {% include "single_user.html" %} {% endwith %}
                    </div>
                    <span class="service">
                    {% blocktrans with userfromname=cm.user_from.get_profile.name userfrom=cm.user_from.username usertoname=cm.user_to.get_profile.name userto=cm.user_to.username comment=cm.comment %}
                    {{ userfromname }} ({{ userfrom }}) has a commitment to provide the service "{{ comment }}" to {{ usertoname }} ({{ userto }}).
                    {% endblocktrans %}
                    </span>
                    <div class="clear"></div>
                    {% if USER == cm.user_to and cm.status != "DON" %}
                        <form method="POST" action="{% url commitment_done cm.id %}">
                        {% csrf_token %}
                            <input type="submit" class="button blue" value="{% trans "Done" %}"/>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}


        <form method="POST" action="">
            {% csrf_token %}

            {% if not swap or not swap.finished %}
                <fieldset class="swap1">
                <legend>{{ user_from.username }}</legend>
                {% for item in user_from.items.all %}
                    {% if not item.demand %}
                        <div class="item_div">
                        <input class="item_input" name="item_{{item.id}}" type="checkbox" {% if item.id in items %}checked="checked"{% endif %}/>
                        {% with short="True" swap="True" %}
                        {% include "truekko/single_item_view.html" %}
                        {% endwith %}
                        </div>
                    {% endif %}
                {% endfor %}
                <br/>
                {% if credits1 %}
                <input type="text" id="credits" name="credits1" value="{{ credits1 }}"
                {% else %}
                <input type="text" id="credits" name="credits1" value=""
                {% endif %}
                       {% if swap and swap.finished %}disabled="disabled"{% endif %}
                       placeholder="{% trans "truekkos" %}"/>
                </fieldset>

                <fieldset class="swap2">
                <legend>{{ user_to.username }}</legend>
                {% for item in user_to.items.all %}
                    {% if not item.demand %}
                        <div class="item_div">
                        <input class="item_input" name="item_{{item.id}}" type="checkbox" {% if item.id in items %}checked="checked"{% endif %} />
                        {% with short="True" swap="True" %}
                        {% include "truekko/single_item_view.html" %}
                        {% endwith %}
                        </div>
                    {% endif %}
                {% endfor %}

                <h3>{% trans "Demands" %}</h3>
                {% for item in user_to.items.all %}
                    {% if  item.demand %}
                        {% with short="True" swap="True" %}
                        {% include "truekko/single_item_view.html" %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
                <br/>
                {% if credits2 %}
                <input type="text" id="credits" name="credits2" value="{{ credits2 }}"
                {% else %}
                <input type="text" id="credits" name="credits2" value=""
                {% endif %}
                       {% if swap and swap.finished %}disabled="disabled"{% endif %}
                       placeholder="{% trans "truekkos" %}"/>
                </fieldset>

                <div class="swap_mode">
                    <label for="swap_mode">{% trans "Swap mode" %}:</label>
                    <select id="swap_mode" name="swap_mode">
                        {% for opt, text in swap_opts %}
                            <option value="{{ opt }}" {% if swap.swap_mode == opt %}selected="selected"{% endif %}>{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <div class="clear"></div>

            <div class="comments">
                {% for comment in comments %}
                    <div class="comment">
                        <a href="{% url view_profile comment.user.username %}"><img class="left" src="{% avatar comment.user 48 %}" alt="{{ comment.user.username }}"/></a>
                        <a href="{% url view_profile comment.user.username %}"><span class="username">{{ comment.user.username }}</span></a>
                        <p> {{ comment.comment }} </p>
                    </div>
                    <div class="clear"></div>
                {% endfor %}
            </div>

            <label for="comment">{% trans "Comment:" %}</label>
            <textarea id="comment" name="comment"></textarea>

            {% if accept %}
            <input type="submit" class="button blue" name="accept" value="{% trans "Accept" %}"/>
            {% endif %}
            {% if not swap or swap.status == "US1" or swap.status == "US2" %}
                <input type="submit" class="button green" name="offer" value="{% trans "Make offer" %}"/>
                <input type="submit" class="button red" name="cancel" value="{% trans "cancel" %}"/>
            {% else %}
                <input type="submit" class="button yellowish" name="cbutton" value="{% trans "Comment" %}"/>
            {% endif %}
        </form>
    </div>
{% endblock %}
