{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans with user_to.username as username %} Direct transfer to {{ username }} {% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/transf.png" alt="transf"/></div>
    <div class="clear"></div>

    <div id="subcontent">
        <div class="left"><img src="{% avatar USER 48 %}" alt="{{ USER.username }}"/></div>
        <div class="left"><img src="{% avatar user_to 48 %}" alt="{{ user_to.username }}"/></div>
        {% blocktrans with user_to.username as username %} Transfer to {{ username }} {% endblocktrans %}
        <div class="clear"></div>
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "ok" %}"/>
        </form>
    </div>
{% endblock %}
