{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Groups' %} {% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/menu/group.png" alt="group"/></div>
    <form action="" method="get">
        <input id="id_search" type="text" class="text" placeholder="{% trans "Search..." %}" name="search"/>
        <input class="search_button" type="submit" value="{% trans "Search" %}"/>
    </form>

    <div class="clear"></div>

    <div id="subcontent">
        <p class="tip">
        {% blocktrans %}
        To register in etruekko you should select a group to join in.
        In this platform each user must be part of a group, so the
        first step to join to etruekko network is to select the group
        you want to be part.
        {% endblocktrans %}
        </p>
        <div class="centered">
        {% for group in groups.object_list %}
            <div class="group groupgrid">
                <a href="{% url view_group group.id %}"><img src="{% groupavatar group 64 %}" alt="{{ group.name }}"/></a>
                <a href="{% url view_group group.id %}"><span class="name">{{ group.name }}</span></a>
                {% if USER.is_authenticated %}
                {% is_admin_group USER group %} {% if is_admin_group_v %}<img src="/media/imgs/admin.png" alt="admin"/>{% endif %}
                {% endif %}
                <span class="location"><a href="{% url groups %}?search={{ group.location }}">{{ group.location }}</a></span>
                <p class="description">{{ group.description|truncatewords:20 }}</p>
                {% if group.web %}
                    <a href="{{ group.web }}"><span class="web">{{ group.web }}</span></a>
                {% endif %}
                <div class="clear"></div>
                <a class="button green" href="{% url register_group group.id %}">{% trans "select" %}</a>
            </div>
            {% clear_mod_3 %}
        {% endfor %}
        </div>
        <div class="clear"></div>
    </div>


    {% with pagination=groups %}
        {% include "paginate.html" %}
    {% endwith %}
{% endblock %}
