{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans with viewing.name as name %} Group / {{ name }} {% endblocktrans %}
{% endblock %}

{% block content %}
    <h2>
        <div class="left"><img src="{% groupavatar viewing 32 %}" alt="{{ viewing.name }}"/></div>
        {% blocktrans with viewing.name as name %} Group / {{ name }} {% endblocktrans %}
        <div class="clear"></div>
    </h2>

    <div id="subcontent">
        <div class="buttons">
            {% if editable %}
                <a class="button green" href="{% url edit_group viewing.id %}">{% trans "Edit" %}</a>
                <a class="button green" href="{% url edit_group_members viewing.id %}">{% trans "Edit members" %}</a>
            {% endif %}
            {% if member %}
                <form method="POST" action="{% url leave_group viewing.id %}"> {% csrf_token %}
                    <input class="button green link" type="submit" value="{% trans "Leave" %}"/>
                </form>
            {% else %}
                <form method="POST" action="{% url join_group viewing.id %}"> {% csrf_token %}
                    <input class="button green link" type="submit" value="Join"/>
                </form>
            {% endif %}
            <a class="button green" href="{% url group_denounce viewing.id %}">{% trans "Denounce a member" %}</a>
        </div>

        <div id="profile">
            <div id="profileimg">
                <img src="{% groupavatar viewing 128 %}" alt="{{ viewing.name }}"/>
                <div id="thumbtack"></div>
            </div>
            <span class="location"><a href="{% url groups %}?search={{ viewing.location }}">{{ viewing.location }}</a></span>
            <span class="username">{{ viewing.name }}</span>
            <a href="{{ viewing.web }}" class="web">{{ viewing.web }}</a>
            <p class="description">{{ viewing.description }}</p>
        </div>
        <div class="clear"></div>

        <div id="memberlist">
        <h3>
            {% trans "Members" %}
            {% if editable and requests %}
                (<a href="{% url edit_group_members viewing.id %}">{{ requests }} {% trans "pending requests" %}</a>)
            {% endif %}
        </h3>
        {% for membership in memberships %}
            <a href="{% url view_profile membership.user.username %}">
            <div class="left memberimg {% if membership.role == "ADM" %}admin{% endif %} {% if membership.user == USER %}me{% endif %}">
                <img src="{% avatar membership.user 64 %}" title="{{ membership.user.get_profile.name }}" alt="{{ membership.user.username }}"/>
                {% if USER.is_authenticated %}
                {% is_admin_group membership.user viewing %} {% if is_admin_group_v %}<img class="floating" src="/media/imgs/admin.png" alt="admin"/>{% endif %}
                {% endif %}
            </div>
            </a>
        {% endfor %}

        <div class="clear"></div>
        <!-- denounces -->
        {% if editable %}
            <h3>{% trans "Denounces" %}</h3>
            <ul>
            {% for denounce in denounces %}
                <li><a href="{% url group_denounce_view denounce.id %}">{{ denounce }} ({{ denounce.get_status_display }})</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>

        <!-- wall -->
        <div id="groupwall">
            {% with wall=wall wallmessages=wallmessages%}
                {% include "truekko/wall.html" %}
            {% endwith %}
        </div>

        <div class="clear"></div>
    </div>

    {% with pagination=wallmessages %}
        {% include "paginate.html" %}
    {% endwith %}
{% endblock %}
