{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans with viewing.username as username %} {{ username }}'s profile {% endblocktrans %}
{% endblock %}

{% block content %}
    <h2>
        <div class="left"><img src="{% avatar viewing 32 %}" alt="{{ viewing.username }}"/></div>
        {% blocktrans with viewing.username as username %} {{ username }}'s profile {% endblocktrans %}
        <div class="clear"></div>
    </h2>

    <div id="subcontent">
        <div id="profile">
            <div id="profileimg">
                <img src="{% avatar viewing 128 %}" alt="{{ viewing.username }}"/>
                {% with value=viewing.get_profile.int_rating votes=viewing.get_profile.rating.votes %}
                    {% include "rating.html" %}
                {% endwith %}
                <div id="thumbtack"></div>
            </div>

            <div class="buttons">
                {% if viewing != USER %} <a class="button violet" href="{% url transfer_direct viewing.username %}">{% trans "Direct transfer" %}</a> {% endif %}
                {% if admin %} <a class="button violet" href="{% url edit_profile_admin viewing.username %}">{% trans "Edit user" %}</a> {% endif %}
                {% if viewing == USER %} <a class="button violet" href="{% url edit_profile %}">{% trans "Edit profile" %}</a> {% endif %}

                {% if viewing != USER %}
                    {% if USER in viewing.get_profile.followers %}
                        <form method="POST" action="{% url unfollow viewing.id %}"> {% csrf_token %}
                            <input class="button red link" type="submit" value="{% trans "unfollow" %}"/>
                        </form>
                    {% else %}
                        <form method="POST" action="{% url follow viewing.id %}"> {% csrf_token %}
                            <input class="button green link" type="submit" value="{% trans "follow" %}"/>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            <span class="location"><a href="{% url people %}?search={{ viewing.get_profile.location }}">{{ viewing.get_profile.location }}</a></span>
            <span class="username">{{ viewing.username }}</span>
            <span class="fullname">{{ viewing.get_profile.name }}</span>
            <span class="rating"> {% user_rating viewing %} </span>
            <a href="{{ viewing.get_profile.web }}" class="web">{{ viewing.get_profile.web }}</a>
            <p class="description">{{ viewing.get_profile.description }}</p>
            <span class="date">
                {% blocktrans with viewing.date_joined|timesince as d %}
                    user since {{ d }}
                {% endblocktrans %}
            </span>
        </div>

        <div class="clear"></div>

        <div id="indexcontent">
            <!-- wall --!>
            {% with wall=wall wallmessages=wallmessages%}
                {% include "truekko/wall.html" %}
            {% endwith %}
        </div>


        <div id="indexmenu"/>
                <!-- groups -->
                <h3>{% trans "Groups" %}</h3>
                <ul>
                {% for group in groups %}
                    <li>
                        <a href="{% url view_group group.id %}">
                            <img class="left" src="{{ group.get_search_img }}" alt="{{ group.name }}"/>
                        </a>
                        <a href="{% url view_group group.id %}">
                            {{ group.name }}
                            {% is_admin_group USER group %}
                            {% if is_admin_group_v %}<img src="/media/imgs/admin.png" alt="admin"/>{% endif %}
                        </a>
                        <div class="clear"></div>
                    </li>
                {% endfor %}
                </ul>

            <!-- offers -->
            <h3>{% trans "Offers" %}</h3>
            <ul>
            {% for item in offers %}
                <li>
                    <a href="{% url item_view item.id %}">
                        <img class="left" src="{{ item.get_search_img }}" alt="{{ item.name }}"/>
                    </a>
                    <a href="{% url item_view item.id %}">
                        {{ item.name }} ({% if item.price %}{{item.price }} {{ item.get_price_type_display }}{% endif %})
                    </a>
                    <div class="clear"></div>
                </li>
            {% endfor %}
            </ul>

            <!-- demands -->
            <h3>{% trans "Demands" %}</h3>
            <ul>
            {% for item in demands %}
                <li>
                    <a href="{% url item_view item.id %}">
                        <img class="left" src="{{ item.get_search_img }}" alt="{{ item.name }}"/>
                    </a>
                    <a href="{% url item_view item.id %}">
                        {{ item.name }} ({% if item.price %}{{item.price }} {{ item.get_price_type_display }}{% endif %})
                    </a>
                    <div class="clear"></div>
                </li>
            {% endfor %}
        </div>

        <div class="clear"></div>
    </div>

    {% with pagination=wallmessages %}
        {% include "paginate.html" %}
    {% endwith %}
{% endblock %}
