{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans with viewing.name as name %} Community / {{ name }} {% endblocktrans %}
{% endblock %}

{% block content %}
    <h2>
        <div class="left"><img src="{% groupavatar viewing 32 %}" alt="{{ viewing.name }}"/></div>
        {% blocktrans with viewing.name as name %} Community / {{ name }} {% endblocktrans %}
        <div class="clear"></div>
    </h2>

    <div id="subcontent">
        <p class="tip">
        {% if membership %}
            {% if membership.role == "ADM" %}
                {% trans "You are admin of this community" %}
            {% elif membership.role == "MEM" %}
                {% trans "You are member of this community" %}
            {% elif membership.role == "REQ" %}
                {% trans "Your request to be part of this community is sended, you need to wait the community admin response" %}
            {% elif membership.role == "BAN" %}
                {% trans "You can't participate in this community because you are banned" %}
            {% endif %}
        {% endif %}
        </p>

        <div class="buttons">
            {% if editable %}
                <a class="button green" href="{% url edit_group viewing.id %}">{% trans "Edit" %}{% tooltip "admin_group_edit" %}</a>
                <a class="button green" href="{% url edit_group_members viewing.id %}">{% trans "Edit members" %}{% tooltip "admin_group_edit_members" %}</a>
            {% endif %}
            {% if membership %}
                {% if membership.role == "ADM" or membership.role == "MEM" %}
                <form method="POST" action="{% url leave_group viewing.id %}"> {% csrf_token %}
                    <input class="button green link" type="submit" value="{% trans "Leave" %}"/>
                </form>
                {% endif %}
            {% else %}
                <form method="POST" action="{% url join_group viewing.id %}"> {% csrf_token %}
                    <input class="button green link" type="submit" value="{% trans "Join" %}"/>
                </form>
            {% endif %}
            <a class="button green" href="{% url group_denounce viewing.id %}">{% trans "Denounce a member" %}</a>


            <div>
            {% if editable %}
                <a class="button green" href="{% url channel_view viewing.channel.id %}">{% trans "Go to channel" %} {{ viewing.channel.name }}{% tooltip "admin_group_goto_channel" %}</a>
            {% endif %}
            </div>
        </div>

        <div id="profile">
            <div id="profileimg">
                <img src="{% groupavatar viewing 128 %}" alt="{{ viewing.name }}"/>
                <div id="thumbtack"></div>
            </div>
            <span class="location"><a href="{% url groups %}?search={{ viewing.location }}">{{ viewing.location }}</a></span>
            <span class="username">{{ viewing.name }}</span>
            <a href="{{ viewing.web }}" class="web">{{ viewing.web }}</a>
            <p class="description">{{ viewing.description }}</p>
        </div>
        <div class="clear"></div>

        <div id="memberlist">

        <!-- denounces -->
        {% if editable %}
            <h3>{% trans "Denounces" %}</h3>
            <ul>
            {% for denounce in denounces %}
                <li><a href="{% url group_denounce_view denounce.id %}">{{ denounce }} ({{ denounce.get_status_display }})</a></li>
            {% endfor %}
            </ul>
        {% endif %}

        <h3>
            {% trans "Members" %}
        </h3>
        {% if editable and requests %}
            (<a href="{% url edit_group_members viewing.id %}">{{ requests }} {% trans "pending requests" %}</a>)
        {% endif %}


        <div class="member">
        <table>
        {% for membership in memberships %}
            <tr class="member">
            <td>
            <div class="memberimg {% if membership.role == "ADM" %}admin{% endif %} {% if membership.user == USER %}me{% endif %}">
                <a href="{% url view_profile membership.user.username %}">
                    <img src="{% avatar membership.user 64 %}" title="{{ membership.user.get_profile.name }}" alt="{{ membership.user.username }}"/>
                </a>
                {% if USER.is_authenticated %}
                {% is_admin_group membership.user viewing %} {% if is_admin_group_v %}<img class="floating" src="/media/imgs/admin.png" alt="admin"/>{% endif %}
                {% endif %}
            </div>
            </td>
            <td>
                {% with user=membership.user %}
                <a href="{% url view_profile user.username %}"><span class="username">{{ user.username }}</span></a>
                <br/>
                <span class="fullname">{{ user.get_profile.name }}</span>
                <br/>
                {{ user.get_profile.location }}
                {% endwith %}
            </td>
            </tr>
        {% endfor %}
        </table>
        <a href="{% url member_list viewing.id %}">{% trans "more..." %}</a>
        </div>

        <div class="clear"></div>
        </div>

        <!-- wall -->
        <div id="groupwall">
            {% with wall=wall wallmessages=wallmessages type="group" %}
                {% include "truekko/wall.html" %}
            {% endwith %}
        </div>

        <div class="clear"></div>
    </div>

    {% with pagination=wallmessages %}
        {% include "paginate.html" %}
    {% endwith %}
{% endblock %}
