{% extends 'base.html' %}
{% load i18n %}


{% block title %}{{ title }}{% endblock %}

{% block menu %}
{% include "menu.html" with menu=HOME_MENU %}
{% endblock %}

{% block content %}

    <div id="subcontent" class="form">
    <p class="tip">
        {% trans "It seems you forgot your password, put your email address and we'll send you a password recover link" %}
    </p>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" class="button blue" value="{% trans "Send" %}"/>
    </form>

    </div>

{% endblock %}
