{% extends 'base.html' %}
{% load i18n %}


{% block title %}{{ title }}{% endblock %}

{% block menu %}
{% include "menu.html" with menu=HOME_MENU %}
{% endblock %}

{% block content %}
    <div id="subcontent" class="form">
    <p class="tip">
        {% trans "You're going to reset your password, write a new password and be sure to remember it" %}
    </p>

    {% if validlink %}
        <form method="POST" action="">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" class="button blue" value="{% trans "Send" %}"/>
        </form>
    {% else %}
        {% trans "Sorry, this link has expired or is invalid" %}
    {% endif %}
    </div>
{% endblock %}
