{% extends 'base.html' %}
{% load i18n %}

{% block subcontent %}
    <h2>Search</h2>

{% endblock %}

{% block content %}
    <div class="left"><img src="/media/imgs/search.png" alt="people"/></div>
    <div class="clear"></div>

    <div id="subcontent">
        <div class="search">
            <form method="GET" action=".">
                {{ form.q }}
                <input class="search_button_white" type="submit" value="Search">
            </form>
        </div>
        <a href="{% url search_advanced %}">{% trans "Advanced search" %}</a>

        <div class="querycontent">
            {% if query %}
                <h3>{% trans "Results" %}</h3>

                {% for result in page.object_list %}
                    <p class="search_entry">
                        <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                        <p class="search_desc">
                            <img src="{{ result.object.get_search_img }}" class="left"/>
                            {{ result.object.get_search_desc|truncatewords:20 }}
                        </p>
                    </p>
                {% empty %}
                    <p>{% trans "No results found" %}</p>
                {% endfor %}
            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
        </div>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page.has_previous %}
                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                <img src="/media/imgs/go-prev.png" alt="{% trans "previous" %}"/></a>
            {% endif %}

            <span class="current">
                {% blocktrans with n=page.number m=page.paginator.num_pages %}
                    Page {{ n }} of {{ m }}.
                {% endblocktrans %}
            </span>

            {% if page.has_next %}
                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
                <img src="/media/imgs/go-next.png" alt="{% trans "next" %}"/></a>
            {% endif %}
        </span>
    </div>

{% endblock %}
